*{
        margin: 0;
        padding: 0;
    }
  body{
        background-image: url(https://i.ibb.co/Ssv9rWY/Screenshot-2024-09-08-155622-3u0kc36i-M-transformed.png);
        background-repeat: no-repeat;
        background-attachment:fixed ;
        background-size: cover;
        background-position: center;
  }